/*Animations quand on clique sur une boule pas encore ouvrable*/
/*secouer droite gauche style flipper*/
@keyframes tilt {
    from{
        transform: translateX(0);
    }
    10%{
        transform: translateX(10%);
    }
    20%{
        transform: translateX(-10%);
    }
    30%{
        transform: translateX(10%);
    }
    40%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(10%);
    }
    60%{
        transform: translateX(-10%);
    }
    70%{
        transform: translateX(10%);
    }
    80%{
        transform: translateX(-10%);
    }
    90%{
        transform: translateX(10%);
    }
    to{
        transform: translateX(0);
    }
}
.tilt{
    animation: tilt 1s;
}

/*secouer haut bas*/
@keyframes tiltV {
    from{
        transform: translateY(0);
    }
    10%{
        transform: translateY(10%);
    }
    20%{
        transform: translateY(-10%);
    }
    30%{
        transform: translateY(10%);
    }
    40%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(10%);
    }
    60%{
        transform: translateY(-10%);
    }
    70%{
        transform: translateY(10%);
    }
    80%{
        transform: translateY(-10%);
    }
    90%{
        transform: translateY(10%);
    }
    to{
        transform: translateY(0);
    }
}
.tiltV{
    animation: tiltV 1s;
}