  .snowflake {
      position: fixed;
      top: -10px;
      color: white;
      font-size: 1em;
      pointer-events: none;
      user-select: none;
      animation: fall linear infinite;
      opacity: 0.9;
      z-index: -1;
      background-color: transparent;
  }

  @keyframes fall {
      0% {
          transform: translateY(0) rotate(0deg);
          opacity: 1;
      }

      100% {
          transform: translateY(110vh) rotate(360deg);
          opacity: 0.6;
      }
  }